
//    Variables
// ------------------------

// Black and white
$white:                     #FFF;
$gray-lightest:             #F1F1F1;
$gray-lighter:              #E6E6E6;
$gray-light:                #AAA;
$gray:                      #888;
$gray-dark:                 #666;
$gray-darker:               #444;
$gray-darkest:              #222;
$black:                     #000;

// Brand colors
$brand-blue:                #142576;
$brand-light-blue:          #1379AE;
$brand-green:               #0a572b;
$brand-red:                 #CF3837;
$brand-orange:              #F8AE4C;


//    Mixins & Functions
// ------------------------
// $px should be entered unitless
@function em($px, $base: 16 ) {
    @return ( $px / $base) * 1em;
}


body {
    font-family: "proxima-nova", sans-serif;
}


//    Social Links
// ------------------------
.social {
    position: absolute;
    top: 1em;
    right: 1em;
    list-style: none;

    li {
        display: inline-block;
        margin-left: 0.5em;
    }

    a {
        color: $white;
        font-size: em(24);
    }

    .header--secondary & {
        top: 0.5em;
    }
}


//    Modules
// ------------------------
.header {
    background: url('../img/bg-map.jpg') fixed center top;
    text-align: center;

    .overlay {
        padding: 6em 0;
        background-image: linear-gradient(to right, rgba(lighten($brand-blue, 30%), 0.75), rgba(lighten($brand-green, 20%), 0.75));
    }

    .site-title {
        margin: 0 auto 1em;
        width: 200px;
        height: 100px;
        text-indent: -9999em;
        background: url('../img/logo-big@2x.png') no-repeat;
        background-size: 100%;
        > a, a:visited, a:hover {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    .site-slogan {
        color: $white;
        font-size: em(24);
        font-style: normal;
        font-weight: 100;

        @media (min-width: 1100px) {
            font-size: em(48);
        }
    }
}


.soon {
    padding: 4em 1em 0;
    text-align: center;
    font-size: 150%;
    h2 {
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 0.75em;
    }
}


#mc_embed_signup {
    padding: 4em 0;
    text-align: left;

    label {
        display: block;
    }
}


.footer {
    .credit,
    .copyright {
        padding: 0 1em;
        color: $gray-light;
        text-align: center;
    }
    .copyright {
        margin-bottom: 2em;
    }
    .credit {
        padding-bottom: 2em;
    }
    .cd-logo {
        display: inline-block;
        width: 106px;
        height: 68px;
        background: url("../img/cd-logo.png") no-repeat;
    }
    @media (min-width: 768px) {
        .copyright {
            text-align: left;
        }
        .credit {
            text-align: right;
        }
    }
}

