body {
  font-family: "proxima-nova", sans-serif; }

.social {
  position: absolute;
  top: 1em;
  right: 1em;
  list-style: none; }
  .social li {
    display: inline-block;
    margin-left: 0.5em; }
  .social a {
    color: #FFF;
    font-size: 1.5em; }
  .header--secondary .social {
    top: 0.5em; }

.header {
  background: url('../img/bg-map.jpg') fixed center top;
  text-align: center; }
  .header .overlay {
    padding: 6em 0;
    background-image: -webkit-linear-gradient(left, rgba(67, 96, 223, 0.75), rgba(20, 178, 86, 0.75));
    background-image: linear-gradient(to right, rgba(67, 96, 223, 0.75), rgba(20, 178, 86, 0.75)); }
  .header .site-title {
    margin: 0 auto 1em;
    width: 200px;
    height: 100px;
    text-indent: -9999em;
    background: url('../img/logo-big@2x.png') no-repeat;
    background-size: 100%; }
    .header .site-title > a, .header .site-title a:visited, .header .site-title a:hover {
      display: block;
      width: 100%;
      height: 100%; }
  .header .site-slogan {
    color: #FFF;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 100; }
    @media (min-width: 1100px) {
      .header .site-slogan {
        font-size: 3em; } }

.soon {
  padding: 4em 1em 0;
  text-align: center;
  font-size: 150%; }
  .soon h2 {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0.75em; }

#mc_embed_signup {
  padding: 4em 0;
  text-align: left; }
  #mc_embed_signup label {
    display: block; }

.footer .credit, .footer .copyright {
  padding: 0 1em;
  color: #AAA;
  text-align: center; }
.footer .copyright {
  margin-bottom: 2em; }
.footer .credit {
  padding-bottom: 2em; }
.footer .cd-logo {
  display: inline-block;
  width: 106px;
  height: 68px;
  background: url("../img/cd-logo.png") no-repeat; }
@media (min-width: 768px) {
  .footer .copyright {
    text-align: left; }
  .footer .credit {
    text-align: right; } }
